USE [master]
GO
/****** Object:  Database [Attendance_System]    Script Date: 4/12/2024 10:56:34 AM ******/
CREATE DATABASE [Attendance_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Attendance_System', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Attendance_System.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Attendance_System_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Attendance_System_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Attendance_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Attendance_System]
GO
/****** Object:  Table [dbo].[Attendance_Records]    Script Date: 4/12/2024 10:56:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance_Records](
	[RecordID] [int] NULL,
	[SessionID] [int] NULL,
	[StudentID] [int] NULL,
	[LastName] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[Status] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class_sessions]    Script Date: 4/12/2024 10:56:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class_sessions](
	[SessionID] [int] NOT NULL,
	[CourseID] [int] NULL,
	[Date] [date] NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[RoomNumber] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 4/12/2024 10:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [int] NOT NULL,
	[CourseName] [varchar](100) NOT NULL,
	[Credits] [int] NULL,
	[DepartmentID] [int] NULL,
	[InstructorID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 4/12/2024 10:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] NOT NULL,
	[DepartmentName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructors]    Script Date: 4/12/2024 10:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructors](
	[InstructorID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[DepartmentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InstructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 4/12/2024 10:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[DepartmentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[AddStudent]    Script Date: 4/12/2024 10:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddStudent]
    @recordid INT,
    @studentid INT,
    @sessionid INT,
    @status NVARCHAR(50),
    @LastName VARCHAR(50),
    @FirstName VARCHAR(50) -- Corrected column name
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra xem sinh viên đã tồn tại chưa
    IF EXISTS (SELECT 1 FROM Attendance_Records WHERE StudentID = @studentid)
    BEGIN
        PRINT 'Sinh viên đã tồn tại.'
    END
    ELSE
    BEGIN
        -- Chèn thông tin sinh viên vào bảng Students
        INSERT INTO Attendance_Records (RecordID, StudentID, SessionID, LastName, FirstName, Status) -- Corrected column name
        VALUES (@recordid, @studentid, @sessionid, @LastName, @FirstName, @status) -- Corrected column name
        
        PRINT 'Sinh viên đã được thêm thành công.'
    END
END
GO
/****** Object:  StoredProcedure [dbo].[Attendence]    Script Date: 4/12/2024 10:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Attendence]
as
begin
    -- Lấy dữ liệu
    SELECT 
        Attendance_Records.RecordID,
        Attendance_Records.SessionID,
        Attendance_Records.StudentID,
        Students.LastName,
        Students.FirstName,
        Attendance_Records.Status
    FROM 
        Attendance_Records
    LEFT JOIN 
        Students 
    ON 
        Attendance_Records.StudentID = Students.StudentID;

    -- Xóa dữ liệu
    DELETE FROM Attendance_Records
    -- WHERE clause để xác định điều kiện cho việc xóa, ví dụ:
    -- WHERE [Điều kiện]

end
GO
/****** Object:  StoredProcedure [dbo].[DeleteStudent]    Script Date: 4/12/2024 10:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteStudent]
    @studentid INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra xem sinh viên có tồn tại không
    IF EXISTS (SELECT 1 FROM Attendance_Records WHERE StudentID = @studentid)
    BEGIN
        BEGIN TRY
            BEGIN TRANSACTION; -- Bắt đầu giao dịch

            -- Xóa sinh viên từ bảng Attendance_Records
            DELETE FROM Attendance_Records WHERE StudentID = @studentid;

            COMMIT TRANSACTION; -- Giao dịch thành công, lưu các thay đổi

            PRINT 'Sinh viên đã được xóa thành công.'
            RETURN 1; -- Trả về 1 để chỉ ra thành công
        END TRY
        BEGIN CATCH
            ROLLBACK TRANSACTION; -- Quay lại trạng thái trước khi bắt đầu giao dịch

            PRINT 'Đã xảy ra lỗi khi xóa sinh viên.'
            RETURN 0; -- Trả về 0 để chỉ ra lỗi
        END CATCH
    END
    ELSE
    BEGIN
        PRINT 'Sinh viên không tồn tại trong hệ thống.'
        RETURN 0; -- Trả về 0 để chỉ ra lỗi
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SearchAttendanceRecord]    Script Date: 4/12/2024 10:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchAttendanceRecord]
    @StudentID INT
AS
BEGIN
    SELECT 
        [RecordID],
        [SessionID],
        [StudentID],
        [LastName],
        [FirstName],
        [Status]
	
    FROM 
        [Attendance_System].[dbo].[Attendance_Records]
    WHERE 
        [StudentID] = @StudentID;
	EXEC SearchAttendanceRecord @StudentID = 12345;
END
GO
USE [master]
GO
